<div class="col-sm-12 d-flex justify-content-center ">
<div class="card">
  <div class="card-header">
    <h4>New account</h4>
  </div>
  <div class="card-body">
    <form method="POST" action="register">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" autofocus required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" autofocus required>
      </div>
      <div class="form-group">
        <label for="staff_name">Staff Name</label>
        <input type="text" class="form-control" id="staff_name" name="staff_name" autofocus required>
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" id="phone" name="phone" autofocus required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" autofocus required>
      </div>
      <a class="btn btn-success" href="/admin/accounts" role="button" title="Back to List">
        <i class="fa fa-backward" aria-hidden="true"></i>
      </a>
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </form>
  </div>
  <div class="card-footer text-muted">
    Footer
  </div>
</div>
</div>