<div class="col-sm-3">
  <div class="card bg-primary h-100">
    <div class="card-body text-center">
      <h5 class="card-title">Total Profit</h5>
      <p class="card-text" style="font-size: 30px; font-weight:bold" id="Total_profit">0</p>

    </div>

  </div>
</div>
<div class="col-sm-3">
  <div class="card bg-success h-100">
    <div class="card-body text-center">
      <h5 class="card-title">Total Order</h5>
      <p class="card-text" style="font-size: 30px; font-weight:bold" id="Total_order">0</p>

    </div>
  </div>
</div>
<div class="col-sm-3 ">
  <div class="card bg-warning h-100">
    <div class="card-body text-center">
      <h5 class="card-title">Total customer</h5>
      <p class="card-text" style="font-size: 30px; font-weight:bold" id="Total_customer">0</p>

    </div>
  </div>
</div>
<div class="col-sm-3 ">
  <div class="card bg-danger h-100">
    <div class="card-body text-center">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text" style="font-size: 30px; font-weight:bold">0</p>

    </div>
  </div>
</div>



</div>

</div>
<div class="row" style="height: auto;">
  <div class="col-6">
    <canvas id="myChart"></canvas>

  </div>
  <div class="col-6">
    <canvas id="myChart1"></canvas>
  </div>
</div>



<table class="table table-hover">

  <thead>
    <tr class="text-center">
      <th>#</th>
      <th>Order ID</th>
      <th>Order Date</th>
      <th>Customer</th>
      <th>Phone</th>
      <th>City</th>
      <th>Total</th>
      <th>Payment</th>
    </tr>
  </thead>
  <tbody id="body" class="text-center">

  </tbody>
</table>
{{#section 'scripts'}}
<script>
  var time = [];
  var value = [];

  var time2 = [];
  var value2 = [];

  $(document).ready(function () {


    $.ajax({
      type: "GET",
      url: '/admin/orders/overview',
      success: function (result) {

        var count_total = 0;
        var count_order = 0;


        var data = JSON.parse(result.list_order)
        var customer = JSON.parse(result.customer)
        var profitChart = JSON.parse(result.profitChart)
        var orderChart = JSON.parse(result.orderChart)
  
        for (let i = 0; i < profitChart.length; i++) {
          time.push(profitChart[i].DataDate)
          value.push(profitChart[i].Total)
        }

        for (let i = 0; i < orderChart.length; i++) {
          time2.push(orderChart[i].DataDate)
          value2.push(orderChart[i].Value)
        }
        
    console.log(data)
        for (let i = 0; i < data.length; i++) {
          count_total = count_total + data[i].Total
          count_order = count_order + 1
          if (i < 5) {
            $("#body").append(`<tr>
              <th >${i + 1}</th>
              <td>${data[i].order_id}</td>
              <td>${data[i].order_date}</td>
               <td>${data[i].customer_lastname} ${data[i].customer_firstname}</td>
              <td>${data[i].customer_phone}</td>
               <td>${data[i].city_name}</td>
               <td>${data[i].Total}</td>
                <td>${data[i].payment_name}</td>
           
            </tr>`)

          }
        }


        $("#Total_profit").html(count_total)
        $("#Total_order").html(count_order)
        $("#Total_customer").html(customer[0].Total_customer)

        var ctx = document.getElementById('myChart');
        var ctx1 = document.getElementById('myChart1');
        var myLineChart = new Chart(ctx, {

          type: 'line',
          data: {
            "labels": time,
            "datasets": [{
              "label": "Profit",
              "data": value,
              "fill": false, "borderColor": "rgb(75, 192, 192)",
              "lineTension": 0
            }]
          },
          options: {
            title: {
              display: true,
              text: "Profit",
              fontSize: 25
            },

            legend: {
              display: false,
              onClick: (e) => e.stopPropagation()
            },
            scales: {
              yAxes: [{
                display: true,
                ticks: {
                  beginAtZero: true   // minimum value will be 0.
                },
                scaleLabel: {
                  display: true,
                  labelString: 'VND'
                },
              }]
            }

          }
        });


        var myLineChart1 = new Chart(ctx1, {
          type: 'line',
          data: {
            "labels": time2,
            "datasets": [{
              "label": "",
              "data": value2,
              "fill": false, "borderColor": "rgb(255, 16, 0)",
              "lineTension": 0
            }]
          },
          options: {
            title: {
              display: true,
              text: "The number of orders",
              fontSize: 25
            },
            legend: {
              display: false
            },
            scales: {
              yAxes: [{
                display: true,
                ticks: {
                  beginAtZero: true   // minimum value will be 0.

                }
              }]
            }

          }
        });
 
    
      }

    })


  });


</script>
{{/section}}