<div class="container"
  style="margin-top: 50px; margin-bottom: 50px; min-height: 80vh; padding: 2em ; border: 1px solid;">
  <h4 class="text-center">Customer Information</h4>
  <form class="row g-3" method="POST" action="/checkout">
    <div class="col-md-6">
      <label for="firstname" class="form-label">First Name</label>
      <input type="text" class="form-control" id="firstname" name="customer_firstname" required>
    </div>
    <div class="col-md-6">
      <label for="lastname" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lastname" name="customer_lastname" required>
    </div>
    <div class="col-md-6">
      <label for="phone" class="form-label">Phone number</label>
      <input type="number" class="form-control" id="phone" name="customer_phone" required>
    </div>
    <div class="col-md-6">
      <label for="Email" class="form-label">Email</label>
      <input type="text" class="form-control" id="Email" name="customer_mail" required>
    </div>

    <div class="col-6">
      <label for="inputAddress" class="form-label">Address + ZIP code</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="customer_street" required>
    </div>

    <div class="col-md-3">
      <label for="inputCity" class="form-label">State/Region</label>
      <select id="customer_state" class="form-select" name="customer_state" required>
        <option value="">Choose...</option>
        {{#each this.state_list}}
        <option value="{{state_id}}">{{state_name}}</option>
        {{/each}}

      </select>
    </div>
    <div class="col-md-3">
      <label for="customer_city" class="form-label">City</label>
      <select id="customer_city" class="form-select" name="customer_city" required>
        <option value="">Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-12 text-center">
      <div class="selectpaymentradios">
        <label class="radio">Select payment</label>

        <input class="radio" style="margin-left:20px" type="radio" name="payment" value="3" id="COD" checked /> <label
          for="COD"><img src="/public/images/cod.png" style="width: 5rem;"></label>
        <input class="radio" style="margin-left:20px" type="radio" name="payment" value="2" id="visacard" /> <label
          for="visacard"><img src="/public/images/visa.png" style="width: 5rem;"></label>
        <input class="radio" style="margin-left:20px" type="radio" name="payment" value="15" id="mastercard" /> <label
          for="mastercard"><img src="/public/images/mastercard.png" style="width: 5rem;"></label>
      </div>
    </div>
    <input type="hidden" id="id_product_list" name="id_product_list" value="">
    <input type="hidden" id="quantity_list" name="quantity_list" value="">
    <div class="col-12 text-center">
      <button type="submit" class="btn btn-primary" style="font-size: 30px;">Checkout</button>
    </div>

  </form>
</div>


<script>
  function Ajax(condition) {
    $.ajax({
      type: "post",
      url: '/admin/other/city',
      data: { state_id: condition },
      success: function (result) {
        city_list = JSON.parse(result.city_list);
        for (let i = 0; i < city_list.length; i++) {

          $('#customer_city').append(` <option value="${city_list[i].city_id}" >${city_list[i].city_name}</option>`)
        }

      }
    })
  }


  $(document).ready(function () {
    const state_id = $("#customer_state").val();



    $("#customer_state").change(function () {
      const state_id = $(this).val();

      $('#customer_city').empty()
      Ajax(state_id)
    });



  })

  var id_product_list = []
  var quantity_list = []
  for (let i = 0; i < localStorage.length; i++) {
    id_product_list.push(parseInt(localStorage.key(i)))
    quantity_list.push(JSON.parse(localStorage.getItem(localStorage.key(i))).quantity)
  }

  $("#id_product_list").val(id_product_list)
  $("#quantity_list").val(quantity_list) 

</script>