<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <a class="navbar-brand" href="#">
    <i class="fa fa-home fa-lg" aria-hidden="true"></i>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/admin/home">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/products/">Products</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/categories/">Categories</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/brands/">Brands</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/orders/">Orders</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/customers/">Customers</a>
      </li>
    {{#if admin}}
     </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/accounts">Accounts</a>
      </li>
     {{/if}}
    </ul>
    {{!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> --}}
  
 
       <form action="/logout" id="frmSignout" method="POST"></form>
      <ul class="navbar-nav">
       
        {{#if user}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Hi, <strong>{{user.staff_name}}</strong>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/account/profile">
              <i class="fa fa-user" aria-hidden="true"></i>
              Profile
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript: $('#frmSignout').submit();">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              Sign out
            </a>
          </div>
        </li>
        {{!-- {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/account/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/account/login">Sign In</a>
        </li> --}}
        {{/if}}
      </ul>
  </div>
</nav>