<div class="col-sm-12 d-flex justify-content-center ">
<div class="card">
  <div class="card-header">
    <h4>New Brand</h4>
  </div>
  <div class="card-body">
    <form method="POST" action="">
      <div class="form-group">
        <label for="txtCatName">Brand</label>
        <input type="text" class="form-control" id="brand_name" name="brand_name" autofocus>
      </div>
      <a class="btn btn-success" href="/admin/brands" role="button" title="Back to List">
        <i class="fa fa-backward" aria-hidden="true"></i>
      </a>
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </form>
  </div>
  <div class="card-footer text-muted">
    Footer
  </div>
</div>
</div>